title          Arch Linux
linux          /vmlinuz-linux
{% if has_intel_cpu %}
initrd         /intel-ucode.img
{% endif %}
initrd         /initramfs-linux.img
options        rd.luks.name={{ luks_device_uuid }}=archroot root=/dev/mapper/archroot rootflags=subvol=@ rw rootfstype=btrfs {% if has_intel_cpu and intel_cpu_gen | int >= 11 -%}ibt=off{%- endif %}
