UI menu.c32
PROMPT 0

MENU TITLE Boot Menu
TIMEOUT 10
DEFAULT arch

LABEL arch
	LINUX ../vmlinuz-linux
	APPEND cryptdevice=UUID={{ luks_device_uuid }}:cryptlvm root={{ lvm.lv_root.dev }} resume={{ lvm.lv_swap.dev }} rw
	INITRD ../intel-ucode.img
	INITRD ../initramfs-linux.img

LABEL archfallback
	LINUX ../vmlinuz-linux
	APPEND cryptdevice=UUID={{ luks_device_uuid }}:cryptlvm root={{ lvm.lv_root.dev }} resume={{ lvm.lv_swap.dev }} rw
	INITRD ../intel-ucode.img
	INITRD ../initramfs-linux-fallback.img
