[General]
buttons=@Variant(\0\0\0\x7f\0\0\0\x19QList<CaptureTool::Type>\0)
checkForUpdates=false
contrastOpacity=188
disabledTrayIcon=true
drawColor=#a3be8c
saveAsFileExtension=png
savePath={{ .chezmoi.homeDir }}/Bilder/Bildschirmfotos
savePathFixed=true
showDesktopNotification=true
uiColor=#88c0d0
userColors=picker, #bf616a, #d08770, #ebcb8b, #a3be8c, #b48ead, #8fbcbb, #88c0d0, #81a1c1, #5e81ac, #eceff4, #d8dee9, #2e3440

[Shortcuts]
TYPE_COPY=Return
