[Desktop Entry]
Name[ca]=Pomodoro
Name[cs]=Pomodoro
Name[de]=Pomodoro
Name[el]=Pomodoro
Name[es]=Pomodoro
Name[fi]=Pomodoro
Name[fr]=Pomodoro
Name[hr]=Pomodoro
Name[id]=Pomodoro
Name[it]=Pomodoro
Name[kk]=Pomodoro
Name[ko]=포모도로
Name[lt]=Pomodoro
Name[nb]=Pomodoro
Name[nl]=Pomodoro
Name[pl]=Pomodoro
Name[pt_BR]=Pomodoro
Name[ru]=Помодоро
Name[sv]=Pomodoro
Name[zh_CN]=番茄计时器
Name=Pomodoro
Comment[ca]=Una senzilla utilitat de gestió del temps
Comment[cs]=Jednoduchý nástroj pro time management
Comment[de]=Ein einfaches Werkzeug für Zeitmanagement
Comment[el]=Μια απλή εφαρμογή διαχείρισης χρόνου
Comment[es]=Una sencilla utilidad de gestión del tiempo
Comment[fi]=Yksinkertainen ajanhallintatyökalu
Comment[fr]=Un outil simple de gestion du temps
Comment[hr]=Jednostavan uslužni program za upravljanja vremenom
Comment[id]=Suatu utilitas simpel manajemen waktu
Comment[it]=Una semplice utility per la gestione del tempo
Comment[kk]=Уақытты басқарудың қарапайым утилитасы
Comment[ko]=간단한 시간 관리 유틸리티
Comment[lt]=Paprastas laiko valdymo įrankis
Comment[nb]=Et enkelt pauseverktøy
Comment[nl]=Een eenvoudige tijdindelingstoepassing
Comment[pl]=Proste narzędzie do zarządzania czasem
Comment[pt_BR]=Uma ferramenta simples para gerenciar o tempo
Comment[ru]=Простой инструмент для тайм-менеджмента
Comment[sv]=Ett enkelt tidshanteringsverktyg
Comment[zh_CN]=一个简易的时间管理工具
Comment=A simple time management utility
Keywords[ca]=temporitzador;
Keywords[cs]=Časovač;
Keywords[de]=Timer;
Keywords[el]=χρονόμετρο;
Keywords[es]=temporizador;
Keywords[fi]=timer;
Keywords[fr]=minuterie;
Keywords[hr]=mjerač vremena;vremenski brojač;
Keywords[id]=timer;
Keywords[it]=timer;
Keywords[kk]=timer;таймер;
Keywords[ko]=타이머;
Keywords[lt]=laikmatis;
Keywords[nb]=timer;
Keywords[nl]=timer;tijdklok;tijdindeling;
Keywords[pl]=minutnik;
Keywords[pt_BR]=temporizador;
Keywords[ru]=таймер;
Keywords[sv]=tidtagare;timer;
Keywords[zh_CN]=计时器;
Keywords=timer;
Exec=gnome-pomodoro
Icon=gnome-pomodoro
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;Clock;
X-GNOME-UsesNotifications=true
DBusActivatable=true
